@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
    font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* shared style */



.flex{
    display: flex;
}
.dark2{
    color: #424242;
}
.dark3{
    color: #727272;
}
.main-color{
    color: #FF900E;
}
.bgcolor{
    background-color: rgba(255, 144, 14, 0.10);
}
.btnbasic{
    background-color: #FF900E;
    color: white;
    padding: 20px 24px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 10px;
    border-style: none;
}
img{
    width: 100%;
    height: 100%;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin: 130px 61px;
}




/* header styles */



/* navbar styles */
.logo{
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    text-decoration: none;
}
.nav-item{
    margin-left: 50px;
}

.navbar, .banner{
    max-width: 1170px;
    margin: 0 auto;
}
/* banner style */
.banner-content{
    max-width: 850px;
    margin: 30px auto;
    text-align: center;
}
.bannerhead{
    font-size: 4rem;
    font-weight: bold;
    margin: 30px auto;
}
.bannertext{
    font-size: 20px;
    margin: 30px auto;
}

.banner-img{
    width: 100%;
    margin: 0 auto;
    /* padding: 30px 0; */
    /* margin: 30px auto; */
    
}
/* team and feature styles  */
.teams-img-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* max-width: 700px; */
    gap: 24px;
}
.team-img{
    max-width: 340px;
    max-width: 340px;
}
.teams{
    align-items: center;
    max-width: 1440px;
    margin: 130px 61px;
}


.features-content{
    margin-left: 73px;
    max-width: 530px;
    
}

.feature-content{
    margin-top: 24px;
    margin-bottom: 32px;
}
.quick{
    font-weight: 500;
}

/* Features you will love & enjoy */
.feature{
    display: flex;
    gap: 146px;
}
.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    width: 583px;
    border-radius: 8px;
}
.feature-tittle{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}
#fearres-border{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    
}
.feature-img{
    width: 680px;
    height: 982px;
}
.feature-enjoy{
    max-width: 586px;
    max-height: 982px;
}
.feature-architect{
    width: 100%;
}
#experience-badge{
    padding: 46px 42px;
    font-size: 1.5rem;
    font: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#experience-year{
    font-size: 4rem;
    font: 700;
}
/* some facts */
.font-description{
    max-width: 540px;
    margin-top: 24px;
    margin-bottom: 100px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact{
    width: 241.83px;
    height: 241.83px;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fact-img{
    width: 45.22px;
    height: 45.22px;
}
.fact-number{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 5px;
    margin-bottom: 10px;
}
.font-text{
    font-size: 1.25rem;
    color: rgb(114, 114, 114);
    margin-top: 10px;
}
/* sponsor setion */
.our-sponsors{
    margin: 60px auto;
}
.sposor-info{
    margin: 60px auto;
    max-width: 540px;
    justify-content: center;
    text-align: center;
}
.sponsor-tittle{
    font-size: 45px;
    font-weight: 700;
}
.sponsor-companys{
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    /* gap: 155px; */
    filter: grayscale(100%);
}
.sponsor-companys>img{
    width: 166.76px;
    height: 50px;
}
.footer{
    max-width: 1440px;
    height: 100px;
    justify-items: center;
    text-align: center;
    margin: 100px auto;
}
.footer-text{
    padding: 38px 410px;
}


/* responsiv media query */
@media screen and (max-width: 576px) {
    .navbar, .nav-links, .teams, .feature{
        flex-direction: column;
    }
    .teams-img-content, .facts-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }
    .features-content{
        margin-left: 20px;
    }
    .sponsor-companys{
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
        justify-items: center;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}